<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <add name="CRM.Properties.Settings.CRMConnString" connectionString="F37OXfeToZvw6DNZ732mTyzaG2UiIUNUxsQQRNlWfjed4vxxmOJHEWvqfKBDLnuB6PWqgv7upD6na38odQn5hCcudU2SkrluLCi5agEtmq5rug6YfON/z2x82uYRfsaS"
      providerName="System.Data.SqlClient" />
    <!--<add name="CRM.Properties.Settings.CRMConnString" connectionString="Data Source=PHUCTH\MSSQLSERVER2012;Initial Catalog=CRM_WIN;User ID=sa;Password=backinh27"
        providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  
  <userSettings>
    <CRM.Properties.Settings>
      <setting name="RemoteUri" serializeAs="String">
        <value>http://localhost/CRMCareUpdate/info.xml</value>
      </setting>
    </CRM.Properties.Settings>
  </userSettings>
</configuration>