<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <add name="CRM.Properties.Settings.CRMConnString" connectionString="Ao4pVfns1BTnTT48VZGh2Pp+IVVMs4rOocf5guv2xIHPyrSIvVErbfu2/ugrd2znf84VdHp3BILJl8aqHYrIg6TrLZZuyt60Jm1k7MlKwW8="
     providerName="System.Data.SqlClient" />

    
  </connectionStrings>
  
  <userSettings>
    <CRM.Properties.Settings>
      <setting name="RemoteUri" serializeAs="String">
        <value>http://localhost/CRMCareUpdate/info.xml</value>
      </setting>
    </CRM.Properties.Settings>
  </userSettings>
</configuration>